# Node dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-error.log*

# React Native / Android
android/.gradle/
android/build/
android/app/build/

# OS
.DS_Store
Thumbs.db
